html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
  background: beige;
  gap: 20px;
}
body {
  margin-bottom: 10px;
}
main {
  border: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 7px solid rgb(235, 86, 148);
  border-radius: 5px;
}
video {
  border: 7px solid rgb(86, 138, 235);
  border-radius: 5px;
}
canvas {
  display: block;
}
.images {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.blazepose {
  height: 100%;
}