<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.js"></script>
    <script src="https://unpkg.com/ml5@1/dist/ml5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='body_pose/style.css') }}" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="images">
      <img class="blazepose" src="static/body_pose/blazepose.png" alt="">
      <img class="stickman" src="static/body_pose/stick_figure.png" alt="">
    </div>
    <main></main>
    <script src="{{ url_for('static', filename='body_pose/sketch.js') }}"></script>
  </body>
</html>
